body {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 2.5em;
  margin-bottom: 0;
}

h2 a {
  color: #222;
  overflow-wrap: break-word;
  text-decoration: none;
}

h2 a:hover {
  text-decoration: underline;
}

.last-updated {
  color: #222;
  font-size: 0.9em;
  font-style: italic;
}

div.navbar {
  background-color: black;
  display: flex;
  flex-wrap: nowrap;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 10px;
  text-align: center;
  width: 781px;
}

div.navbar a.icon {
  background: black;
  position: absolute;
  left: 0;
  color: white;
  display: none;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  top: 0;
}

div.navbar div.navbar-link {
  background-color: black;
  border-radius: 10px;
  box-sizing: border-box;
  flex: 1 1 1px;
  margin: 0;
  padding: 0.2em;
  padding-left: 0.2em;
  transition: background 0.2s;
  width: 150px;
  height: 3em;
}

div.navbar div.navbar-link a {
  color: white;
  display: block;
  font-weight: bold;
  overflow-wrap: break-word;
  text-align: center;
  text-decoration: none;
  margin: 0;
  padding-top: 0.8em;
  width: 100%;
  height: 100%;
}

div.navbar div#active-navbar-link {
  background-color: white;
}

div.navbar div#active-navbar-link a {
  color: #222;
}

ul.news-list {
  color: #222;
  display: flex;
  flex-wrap: wrap;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.news-list li {
  background-color: #f8f8f8;
  border-radius: 10px;
  box-sizing: border-box;
  flex: 1 1 350px;
  margin: 0.5em;
  padding: 0.5em;
  transition: background 0.2s;
}

ul.news-list li a {
  color: black;
  overflow-wrap: break-word;
  text-decoration: none;
}

ul.news-list li a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 800px) {
  div.navbar, ul.news-list {
    display: block;
    width: 100%;
  }

  div.navbar {
    align-items: center;
    padding: 0;
  }

  div.navbar a.icon {
    display: block;
  }

  div.navbar div.navbar-link {
    align-items: center;
    border-radius: 0;
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
  }

  ul.news-list li {
    border-radius: 0;
    padding: 1em;
    margin: 0;
  }
}

@media screen and (min-width: 801px) {
  div.navbar div.navbar-link {
    display: block;
  }
}
