body {
  font-family: Arial, sans-serif;
  background: #fff;
  color: #222;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 2.5em;
  margin-bottom: 0;
}

h2 a {
    color: #000000;
    text-decoration: none;
    overflow-wrap: break-word;
}

h2 a:hover {
    text-decoration: underline;
}

p.last-updated {
  font-style: italic;
  font-size: 0.9em;
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  color: #222;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 800px;
}

ul.navbar li {
  margin-bottom: 0.5em;
  padding-left: 0.2em;
  transition: background 0.2s;
  flex: 1 1 1px;
  box-sizing: border-box;
  background: #f8f8f8;
  border-radius: 10px;
  padding: 0.8em;
  margin: 0.5em;
}

ul.navbar li.active {
  background: #ffffff;
}

ul.navbar li a {
  color: #000000;
  text-decoration: none;
  overflow-wrap: break-word;
}

ul.navbar li.active a {
  color: #ffffff;
}

ul.navbar li a:hover {
    text-decoration: underline;
}

ul.news-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  color: #222;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ul.news-list li {
  margin-bottom: 0.5em;
  padding-left: 0.2em;
  transition: background 0.2s;
  flex: 1 1 350px;
  box-sizing: border-box;
  background: #f8f8f8;
  border-radius: 10px;
  padding: 0.8em;
  margin: 0.5em;
}

ul.news-list li a {
    color: #000000;
    text-decoration: none;
    overflow-wrap: break-word;
}

ul.news-list li a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 800px) {
  ul.navbar, ul.news-list {
    display: block;
    width: 100%;
  }
}
