body {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 2.5em;
  margin-bottom: 0;
}

h2 a {
  color: #222;
  overflow-wrap: break-word;
  text-decoration: none;
}

h2 a:hover {
  text-decoration: underline;
}

.last-updated {
  color: #222;
  font-size: 0.9em;
  font-style: italic;
}

ul.navbar {
  background-color: black;
  display: flex;
  flex-wrap: nowrap;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 10px;
  text-align: center;
  width: 781px;
}

ul.navbar li {
  background-color: black;
  border-radius: 10px;
  box-sizing: border-box;
  flex: 1 1 1px;
  margin: 0;
  padding: 0.2em;
  padding-left: 0.2em;
  transition: background 0.2s;
  width: 150px;
  height: 3em;
}

ul.navbar li.active {
  background-color: white;
}

ul.navbar li a {
  color: white;
  display: block;
  font-weight: bold;
  overflow-wrap: break-word;
  text-align: center;
  text-decoration: none;
  margin: 0;
  padding-top: 0.8em;
  width: 100%;
  height: 100%;
}

ul.navbar li.active a {
  color: #222;
}

ul.news-list {
  color: #222;
  display: flex;
  flex-wrap: wrap;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.news-list li {
  background-color: #f8f8f8;
  border-radius: 10px;
  box-sizing: border-box;
  flex: 1 1 350px;
  margin: 0.5em;
  padding: 0.5em;
  transition: background 0.2s;
}

ul.news-list li a {
  color: black;
  overflow-wrap: break-word;
  text-decoration: none;
}

ul.news-list li a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 800px) {
  ul.navbar, ul.news-list {
    display: block;
    width: 100%;
  }

  ul.news-list li {
    border-radius: 0;
    padding: 1em;
    margin: 0
  }

  ul.navbar li {
    border-radius: 0;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
  }
}
