name: Build Website

on:
  workflow_call:
  workflow_dispatch:

jobs:
  build_website:
    name: Build Website
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          cache: pip
          python-version: '3.14'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Build website
        run: |
          python src/rss_to_html.py
      - name: Show output directory contents
        run: |
          ls -la output/
      - name: Upload output artifact
        uses: actions/upload-artifact@v6
        with:
          name: website_build_output
          path: output
