name: Check changes to master

on :
  push:
    branches: master
  pull_request:
    branches: master

jobs:
  check_css:
    name: Check CSS code
    uses: ./.github/workflows/css_check.yaml

  check_markdown:
    name: Check Markdown code
    uses: ./.github/workflows/markdown_check.yaml

  check_python:
    name: Check Python code
    uses: ./.github/workflows/python_check.yaml
  build_website:
    name: Build Website
    needs:
      - check_css
      - check_markdown
      - check_python
    uses: ./.github/workflows/website_build.yaml
  check_html_output:
    name: Check HTML code
    needs: build_website
    uses: ./.github/workflows/html_check.yaml

  deploy_website:
    name: Deploy from artifact
    needs: check_html_output
    if: ${{ github.ref == 'refs/heads/master' }}
    permissions:
      contents: write
    uses: ./.github/workflows/website_deploy.yaml

